* {
  padding: 0;
  margin: 0;
  text-align: center;
}

.button-container {
  margin-top: 140px;
  background-color: rgb(213, 231, 250);
  font-size: 100%;
  color: black;
  padding-top: 40px;
  height: 400px;
}

.button-name {
  padding-top: 20px;
}

.button-student {
  background-color: white;
  height: 24px;
  padding-top: 7px;
  font-size: 100%;
}

.checkboxes {
  margin: 40px 10% 0px 10%;
}

.footer {
  background-color: rgb(79, 139, 201);
  height: 60px;
}

.label-checkbox {
  padding-right: 20px;
}

.profile-picture {
  width: 100px;
}

.select-checkboxes {
  display: inline;
  color: rgb(176, 181, 182);
  margin: 0px 40px 10px 0px;
  font-size: 110%;
}

.student-name {
  color: black;

}

.student-title-overview {
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 20px;
  color: rgb(176, 181, 182);
}

.header {
  text-align: left;
  background-color: rgb(79, 139, 201);
  height: 100px;
  color: white;
}

.image-button {
  width: 100%;
}

.name-header {
  font-size: 35px;
  padding-left: 0%;
  margin-top: -55px;
}

.student-profiles {
  margin-top: 40px;
  width: 8%;
  margin-right: 10px;
  font-size: 80%;
  border-color: rgb(213, 231, 250);
}

.winc-logo {
  height: 50px;
  margin-top: 25px;
  margin-left: 5%;
}

@media screen and (max-width: 1000px) {
  .App-link {
    color: #61dafb;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .name-header {
    padding-left: 10%;
  }
}
